{{#if post.access}}
<div class="comment container small">
    <script src="https://utteranc.es/client.js" repo="eugenesoo/soo.sg" issue-term="pathname" label="💬"
        theme="preferred-color-scheme" crossorigin="anonymous" async>
        </script>
</div>
{{/if}}