#commento-footer {
    display: none;
}

#commento-markdown-button-root {
    display: none;
}

#commento-markdown-button {
    display: none;
}

.commento-root .commento-card {
    border-top: none !important;
}

.commento-root .commento-permalink {
    display: none;
}