.commento-root pre {
    all: unset;
}

.commento-root blockquote {
    all: unset;
}

#commento-footer {
    display: none;
}

.commento-root .commento-anonymous-checkbox-container {
    display: none;
}

.commento-root .commento-card {
    border-top: unset;
}